<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="index.css">
  <meta name="description" content="meta description here">
  <meta name="theme-color" content="#8E8EFC"/>
  <link rel="icon" type="image/x-icon" href="assets/img/icons/favicon.ico">
  <!-- <link rel="manifest" href="manifest.json"> -->
  <title>Test</title>
</head>